@media (max-width: 1180px) {
  .nav {
    width: 100%;
    height: 3rem;
    background-color: var(--navback-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: var(--navtext-color);
    padding: 0 5px;
    .home {
      color: var(--navtext-color);
      font-size: 1.5rem;
    }
    .top_menu {
      display: flex;
      color: var(--navtext-color);
      div {
        font-size: 1.5rem;
        margin-left: 10px;
      }
    }
    .profile {
      display: none;
    }
    .icons {
      display: none;
    }
    .category {
      display: none;
    }
  }
  .contents {
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
  }
  .copyright {
    display: none;
  }
}

@media (min-width: 1180px) {
  .layout {
    display: flex;
    height: 100vh;
  }
  .nav {
    width: 18rem;
    height: calc(var(--vh, 1vh) * 100 - 40px);
    background-color: var(--navback-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 24px;
    margin: 20px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 10px;
    color: var(--navtext-color);
    .home {
      color: var(--navtext-color);
      font-size: 30px;
      margin: 20px 0;
    }
    .top_menu {
      display: none;
    }
    .profile {
      width: 250px;
      max-height: 45%;
      border-radius: 24px;
      object-fit: cover;
      margin: 20px 0;
    }
    .icons {
      color: var(--navtext-color);
      font-size: 2rem;
      width: 150px;
      display: flex;
      justify-content: space-between;
    }
    .category {
      color: var(--navtext-color);
      font-size: 2rem;
      margin-top: 30px;
      cursor: pointer;
    }
    .copyright {
      margin-top: auto;
      margin-bottom: 10px;
      font-size: 1rem;
      color: var(--navtext-color);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .contents {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: overlay;
    // background-color: plum;
    // align-items: center;
  }
}
