.container {
  width: 100%;
  min-width: 400px;
  height: 175px;
  background-color: var(--postcard-color);
  margin: 1px;
  color: var(--text-color);
  border-radius: 24px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  em {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  p {
    margin-top: 5px;
    font-size: 1.2rem;
  }
}
.tagDateWrap {
  display: flex;
  justify-content: space-between;
  .keyword {
    font-size: 1.5rem;
  }
}

.tags {
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;

  div {
    border-radius: 10px;
    border: 1px solid var(--text-color);
    display: inline;
    padding: 3px 5px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

@media (max-width: 1180px) {
  .container {
    width: 100%;
    height: 170px;
    min-width: 350px;
    max-width: 600px;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    em {
      display: none;
    }
    p {
      margin-top: 5px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    min-width: 350px;
    max-width: 600px;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    em {
      display: none;
    }
    p {
      margin-top: 5px;
      font-size: 1rem;
    }
    .keyword {
      font-size: 1rem;
    }
    .tags {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin: 10px 0;
    }
  }
}
