@import "./reset.scss";
// Light mode
:root {
  --background-color: white;
  --text-color: #1a202c;
  --postcard-color: #dadde2;
  --navback-color: #dadde2;
  --navtext-color: #1a202c;
  --select-color: #dadde2;
  --selecttext-color: #1a202c;
  --posth1-color: #43655a;
  --posth2-color: #628281;
  --posth3-color: #889fa5;
  --postemunder-color: rgb(236, 16, 8);
  font-size: 16px;
}

// Dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a202c;
    --text-color: #edf2f6;
    --postcard-color: #2d3748;
    --navback-color: #e9d8fd;
    --navtext-color: #1a202c;
    --select-color: #e9d8fd;
    --selecttext-color: #1a202c;
    --posth1-color: #71facb;
    --posth2-color: #34b5bd;
    --posth3-color: #467086;
    --postemunder-color: aqua;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
